node_modules
.next
out
build
dist

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vscode
.idea

# database (sqlite)
prisma/*.db
prisma/*.db-journal

# uploads
public/uploads

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
